@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

:root {
  /*Colors*/
  --darkGreen: #1d272b;
  --lightGreen: #344951;
  --green: #2ba635;
  --paleGreen: #f3f9f5;
  --lightGray: #c9d9e2;
  --bgGray: #f7f7f7;
  --gray: #5d6f79;
  --orange: #ff9011;
  --red: #fa160a;
  --yellow: #fec849;
  --blue: #128ede;
  --white: #fff;
  --black: #000;
}

/*----------Global--------*/
html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  font-size: 11px;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
}
a:hover {
  color: var(--white);
}
/*--------Navigation------*/
.nav {
  background-color: var(--darkGreen);
}
.nav-menu .nav-brand a span {
  color: var(--red);
}
.nav-menu .nav-items .nav-link:hover {
  background-color: var(--lightGreen);
}
.nav .icons i {
  color: var(--white);
}
.nav .icons img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/*--------Carousel------*/
#headerCarousel {
  position: relative;
}
.form-ticket {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel .carousel-inner .carousel-item {
  height: 70vh;
  background: no-repeat scroll center scroll;
  background-size: cover;
  position: relative;
}
/*Gradient-Overlay*/
.carousel-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, var(--darkGreen), transparent);
}
.carousel-caption {
  position: absolute;
  text-align: left;
  top: 85px;
}
form {
  background-color: var(--lightGreen);
  color: var(--white);
}
form .row .change {
  position: relative;
}
form .row .change .change-icon {
  position: absolute;
  top: 49%;
  left: 47%;
  transform: translate(0.5%, -50%);
  color: #000;
}
form .row .change input::placeholder {
  color: var(--gray);
}

/*--------Number Order Area------*/

.number-area {
  background-color: var(--paleGreen);
}
.number-area .number-and-line .number {
  display: inline-block;
  background-color: var(--green);
  width: 39px;
  height: 35px;
  border-radius: 50%;
  position: relative;
}
.number-area .number-and-line .number p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}
.number-area .number-and-line hr {
  width: 100%;
  border: 1px solid var(--darkGreen);
}

/*--------Card Slider------*/

.card-slider i {
  color: var(--gray);
}
.dots i:first-child {
  color: var(--orange);
}
.card-slider .cards .card img {
  width: auto;
  height: 158px;
  object-fit: cover;
}
.card-body .card-info i {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.cards .card .card-body .btn {
  width: 100%;
}
.cards .card .card-body .btn.green {
  color: var(--white);
  box-shadow: 1px 2px 8px 0.2px var(--green);
}

/*--------Call Area------*/
.call-area {
  height: 365px;
  width: auto;
  overflow: hidden;
  position: relative;
}
.call-area .card .image-area {
  overflow: hidden;
}
.call-area .card .text-area {
  background-color: var(--darkGreen);
}
.call-area .card .card-body {
  color: var(--paleGreen);
}
.call-area .card .card-body .card-title {
  color: var(--yellow);
}

.call-area .card .card-body .card-ul li::before {
  content: "\2022";
  color: var(--yellow);
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
.call-area .card .card-body .card-btn {
  width: 342px;
  height: 42px;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(to right, var(--orange), var(--yellow));
  padding: 16px 78px;
  border-radius: 5px;
}
.call-area .card .card-body .card-btn p {
  margin-top: 12px;
  margin-right: 12px;
}
.call-area .call-icon {
  overflow: hidden;
  background-color: var(--blue);
  width: 105px;
  height: 105px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.call-area .call-icon i {
  position: absolute;
  top: 20px;
  font-size: 60px;
  color: var(--white);
}

/*--------Service Area------*/
#postsCarousel {
  position: relative;
}
#postsCarousel .btn.prev {
  position: absolute;
  top: 40%;
  left: 15%;
  color: var(--paleGreen);
}
#postsCarousel .btn.next {
  position: absolute;
  top: 40%;
  right: 15%;
  color: var(--darkGreen);
}
.service-area .carousel-inner .card .btn {
  border: 1.5px solid var(--green);
}
.service-area .carousel-inner .card .readmore {
  color: var(--green);
}
.service-area .carousel-inner .card .btn.green {
  box-shadow: 1px 2px 8px 0.2px var(--green);
}

/*--------Client Experience------*/

.client {
  background-color: var(--bgGray);
}
.client button {
  width: 100%;
}
.client .comments {
  position: relative;
}
.client .row .col-6 .link {
  color: var(--blue);
}
.client .row .col-6 .readmore,
.comments a i {
  color: var(--green);
}
.client .row .corner-left-bottom {
  position: absolute;
  bottom: -15px;
  left: 11px;
  width: 90px;
  height: 90px;
  border-left: 5px solid var(--lightGray);
  border-bottom: 5px solid var(--lightGray);
}
.client .row .corner-right-top {
  position: absolute;
  top: 50px;
  left: 550px;
  width: 90px;
  height: 90px;
  border-right: 5px solid var(--lightGray);
  border-top: 5px solid var(--lightGray);
}
.client .row .quote {
  color: var(--orange);
  position: absolute;
  top: 45px;
  left: 8px;
}
.client .row .stars {
  position: absolute;
  color: var(--orange);
  left: 470px;
  bottom: -20px;
}

.client .row .corner-left-bottom-2 {
  position: absolute;
  bottom: -15px;
  right: 570px;
  width: 90px;
  height: 90px;
  border-left: 5px solid var(--lightGray);
  border-bottom: 5px solid var(--lightGray);
}
.client .row .corner-right-top-2 {
  position: absolute;
  top: 50px;
  right: 17px;
  width: 90px;
  height: 90px;
  border-right: 5px solid var(--lightGray);
  border-top: 5px solid var(--lightGray);
}
.client .row .quote-2 {
  color: var(--orange);
  position: absolute;
  top: 45px;
  right: 635px;
}
.client .row .stars-2 {
  position: absolute;
  color: var(--orange);
  right: 0px;
  bottom: -20px;
}

/*--------Q/A Tabs------*/

/*--------Form------*/
.form {
  background-image: url("../images/bogaz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 125px;
}
.form-control::placeholder {
  color: var(--lightGray);
}
.form .form-title h1 {
  color: var(--white);
}
.form form .btn {
  width: 100%;
  background: linear-gradient(to right, var(--orange), var(--yellow));
  border-radius: 5px;
  color: var(--white);
}

/*--------Features------*/
.features {
  background-color: var(--bgGray);
}
.features .col-4 i {
  color: var(--orange);
}

/*--------Fotos------*/
.fotos .row p a {
  color: var(--blue);
}
.fotos .foto-row .foto-col {
  max-height: 160px;
  overflow: hidden;
}

/*--------Footer------*/
footer {
  background-color: var(--darkGreen);
  color: var(--white);
}
footer .aboutus {
  width: 80px;
}
footer .services {
  width: 115px;
}
footer .contact {
  width: 99px;
}
footer .website {
  width: 121px;
}
.section-divider {
  height: 0;
  border-top: 1px solid var(--lightGreen);
}
.section-divider > span {
  color: var(--lightGreen);
  background: var(--darkGreen);
  position: relative;
  top: -11px;
}
footer .copywrite {
  font-size: 11px;
  color: var(--lightGreen);
}
